@{
    ViewBag.Title = "Human vs Bot";
}

<div id="gameHash" hidden>0</div>

<div class="row">  
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <h1>@ViewBag.Message</h1>
    }

    <div class="col-md-12">
        <div id="botName"></div>   
        <div id="botHoleCards"></div>        
    </div>

    <hr />

    <div class="col-md-12">        
        <div id="phase"></div>        
        <div id="potSize"></div>

        <h3>Board:</h3>
        <div id="boardCards">            
        </div>
    </div>

    <hr />

    <div class="col-md-12">
        <h3>You:</h3>
        <div id="playerHoleCards">
        </div>

        <div id="actionBar">
        </div>
        @*<div class="form-group">
            <label for="amount" class="col-2 col-form-label">Amount</label>
            <div class="col-10">
                <input class="form-control" type="number" value="1" id="amount">
            </div>
        </div>*@
    </div>

    <div id="statistics"></div>
    
    <div class="form-check">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" onclick="toggleOpponentCardVisibility()" checked>
            Show opponent cards
        </label>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/game")