@model PokerSimulation.Core.Entities.SessionEntity

<div class="row">  
    <div class="col-md-12">
        <h1>Session</h1>             
        <div class="row"> 
            Player 1: @Model.PlayerEntity1.Name;         
            Player 2: @Model.PlayerEntity2.Name;                               
        </div>                                                               
    </div>
</div>