<!-- ko with: home -->
<div class="jumbotron">
    <h1>Texas Hold'em No Limit Heads'up Simulation</h1>
    <p class="lead">This engine supports multiple bots competing against each other. </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Current Sessions</h2>
        <p>There are no sessions available at the moment.</p>
        @*<p data-bind="text: myHometown"></p>*@       
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">New Session</a></p>*@
        <p><a class="btn btn-default" href="#">New Session</a></p>
    </div>

    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS, and JavaScript.
            It's now easier than ever before to getting started writing highly interactive web applications.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>*@

    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>

<!-- /ko -->
